.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 90vh;
    margin-top:2vh;
}

.home .title {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.home .title h1 {
    font-weight: 300;
}

.home .title p {
    line-height: 50px;
}

.home .title p:nth-child(3) {
    color: darkslategrey;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.home .person {
    width: 100%;
    margin-top: 20px;
}

.home .person img {
    width: 80%;
    filter:drop-shadow(0 0 2px var(--theme-alt-one));
}

@media (min-width: 800px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
        margin-top:0;
    }
    .home .title,
    .home .person {
        width: 50%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }
    .home .person img {
        width: 60%;
    }
}
