.navbar {
    width: 100%;
    background-color: var(--theme-dark);
    height: 100%;
    color: white;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 2;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 5px inset var(--theme-light);
    box-shadow: 0 5px 10px rgba(20, 20, 20, 0.25);
}

@media (min-width: 800px) {

}
