.container {
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.header {
  background-color:var(--primary-color-light);
  color:white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
height: 100%;
overflow-y: auto;
}

.roadmap {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
